nav {
  padding-top: 5px;
  padding-right: 60px;
  padding-left: 60px;
  text-align: left;
  position: relative;
  height: 40px;
  background-color: gray;
}

.cathole {
	padding-top: 5px;
	height: 28px;
	width: 28px;
	border-radius: 50%;
}

body {
	background: url(../images/outerspace_landscape.jpeg) no-repeat;
	background-size: cover;

}
.centerbox {
	position: relative;
	width: 600px;
	height: 300px;
	border: 5px green dotted;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
}
